*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1500px;
    margin: auto;
}
header{
    background: url("sunrise.jpg");
    height: 120vh;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    position: relative;
}
.welcome-text{
    position:absolute;
    width: 600px;
    height: 300px;
    margin: 5% 30%;
    text-align: center;
}
.welcome-text H1{
    text-align: middle;
    color:white;
    font-family: Arial,sans-serif;
    text-transform:uppercase;
    font-size: 40px;
}
.welcome-text h2{
    text-align: middle;
    color:white;
    font-family:  Arial,sans-serif;
    text-transform:uppercase;
    font-size: 19px;
}
.paragraph a{
    color: white ;
    position:relative;
    Right: 200px;
    text-align: center;
    width: 1000px;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
 font-family:'Lucida Sans Unicode', serif;
}
.paragraph a2{
    color: white ;
    position:relative;
    Right: 200px;
    text-align: center;
    width: 1000px;
    font-size: 22px;
    margin-top: 20px;
    display: inline-block;
 font-family: 'Gill Sans', serif;
}
.paragraph a3{
    color: white ;
    position:relative;
    Right: 200px;
    text-align: center;
    width: 1000px;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
 font-family: Verdana,serif;
}